body {
    background-color: black;
}

.center{
    text-align: center;
}
div.center{
    color: tomato;
}

div.right{
    text-align:  right;
    color:lightsalmon;
}

html {
    color:red
}
}