.profileArea{
    background-color: rgb(119, 34, 0);
    position: absolute;
    width:500px;
    height: 500px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: 50px;
    box-shadow: 4px 4px 4px rgba(38, 38, 38, 0.1);
}

.profilePic{
    width:500px;
    height:500px;
    border-radius: 10px;
    margin:30px;
}

.homePage{
    background-color: black;
    color: white;
}